* text=auto eol=lf

*.java text working-tree-encoding=UTF-8
*.xml text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.ts text working-tree-encoding=UTF-8
*.tsx text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8 eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
